#
# > Big Rainbow Distgen docker-compose file
#

version: '3'

services:

    distgen:
        build: ./project/
        environment:
            - AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID
            - AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
            - AWS_DEFAULT_REGION=$AWS_REGION
            - DISTGEN_SQS_QUEUE=big_rainbow_distgen.fifo
            - DISTGEN_S3_BUCKET=big_rainbow_distgen
        ports:
            - "80:80"
